  .modal-header {
    background-color: #007bff;
    color: white;
  }

  .modal-footer {
    background-color: #f1f1f1;
  }

  .modal-body h5 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-top: 20px;
  }

  .modal-body p {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
  }

  .modal-body ul {
    list-style: none;
    padding: 0;
  }

  .modal-body ul li {
    margin-bottom: 10px;
  }

  .modal-body ul li i {
    margin-right: 5px;
  }

